extends header

block content
  body
    .wrapper
      <!-- ******HEADER****** -->
      header.header
        .header-main.container
          h1.logo.col-md-4.col-sm-4
            a(href='https://sunflowergenome.org')
              img#logo(src='/images/logo.png', width='300px', height='75px', alt='Logo')
          .info.col-md-8.col-sm-8
            ul.menu-top.navbar-right.hidden-xs
              li.divider
                a(href='https://sunflowergenome.org') Home
              li.divider
                a(href='/faq') FAQ
              li
                a(href='/contact') Contact
            br
      include nav-home
      <!-- ******CONTENT****** -->
      .content.container
        .page-wrapper
          .page-content
            .row.page-row
              #promo-slider.slider.flexslider
                ul.slides
                  li
                    img(src='/images/404.jpg')
                    p.flex-caption-error-page
                      span
                        i 404!
                        |
                        | You requested something that does not exist and it generated an error. Go back, or
                        |
                        a(href='/contact') contact
                        |
                        | us if you think there is an error with the site.

  include footer
