extends header

block content
  body
    .wrapper
      <!-- ******HEADER****** -->
      header.header
        .header-main.container
          h1.logo.col-md-4.col-sm-4
            a(href='https://sunflowergenome.org')
              img#logo(src='/images/logo.png', width='300px', height='75px', alt='Logo')
          .info.col-md-8.col-sm-8
            ul.menu-top.navbar-right.hidden-xs
              li.divider
                a(href='https://sunflowergenome.org') Home
              li.divider
                a(href='/faq') FAQ
              li
                a(href='/contact') Contact
            br
      include nav-data
      <!-- ******CONTENT****** -->
      .content.container
        .page-wrapper
          header.page-heading.clearfix
            h1.heading-title.pull-left Assembly
            .breadcrumbs.pull-right
              ul.breadcrumbs-list
                li.breadcrumbs-label You are here:
                li
                  a(href='https://sunflowergenome.org') Home
                  i.fa.fa-angle-right
                li.current Assembly files
          .page-content
           .row.page-row
            aside.page-sidebar.col-md-2.col-sm-2.affix-top
              section.widget
                ul.nav
                  li
                    a(href='/assembly') Procedures
                      |
                      |
                      i.fa.fa-book(aria-hidden='true')
                  li
                    a(href='/assembly-results') Statistics
                      |
                      |
                      i.fa.fa-bar-chart(aria-hidden='true')
                  li.active
                    a(href='/assembly-data') Files
                      |
                      |
                      i.fa.fa-download(aria-hidden='true')
            .events-wrapper.col-md-8.col-sm-7
              .row.page-row
                p
                  | Below are the published assemblies for sunflower line HA412-HO. Note that the 'bronze-pseudomolecules' assembly is the annotated version available for download. Note the references for each data source at the bottom of the page.
                .table-responsive
                  table.table.table-striped.table-bordered
                    thead
                      tr
                        th Release version
                        th Description
                        th Download
                    tbody
                      tr
                        td
                          | HA412HO v2.0
                          p
                            span.label.label-success
                              i.fa.fa-check-circle
                              | Latest Version
                        td
                          | Assembled chromosomes in FASTA format (not including organelles)
                        td
                          a.btn.btn-sm.btn-default(href='assets/data/assemblies/Ha412HOv2.0-20181130.fasta.gz')
                            span.glyphicon.glyphicon-cloud-download
                            |  Download
                      tr
                        td
                          | HA412HO v2.0
                          p
                            span.label.label-success
                              i.fa.fa-check-circle
                              | Latest Version
                        td MD5 checksum of HA412HO v2.0 assembly FASTA file
                        td
                          a.btn.btn-sm.btn-default(href='assets/data/assemblies/Ha412HOv2.0-20181130.fasta.gz.md5')
                            span.glyphicon.glyphicon-cloud-download
                            |  Download
                      tr
                        td HA412HO v1.1
                        td
                          | Assembled pseudomolecules in FASTA format (not including organelles or concatenated unplaced contigs)
                        td
                          a.btn.btn-sm.btn-default(href='assets/data/assemblies/Ha412v1r1_genome_no_cp-mt-rd_chr-q.fasta.gz')
                            span.glyphicon.glyphicon-cloud-download
                            |  Download
                      tr
                        td HA412HO v1.1
                        td MD5 checksum of FASTA file
                        td
                           a.btn.btn-sm.btn-default(href='assets/data/assemblies/Ha412v1r1_genome_no_cp-mt-rd_chr-q.fasta.gz.md5')
                             span.glyphicon.glyphicon-cloud-download
                             |  Download
                      tr
                        td HA412HO v1.1
                        td Assembled organelles and rDNA in FASTA format
                        td
                           a.btn.btn-sm.btn-default(href='assets/data/assemblies/Ha412v1r1_organelles_rDNA.fasta.gz')
                             span.glyphicon.glyphicon-cloud-download
                             |  Download
                      tr
                        td HA412HO v1.1
                        td MD5 checksum of FASTA file
                        td
                          a.btn.btn-sm.btn-default(href='assets/data/assemblies/Ha412v1r1_organelles_rDNA.fasta.gz.md5')
                            span.glyphicon.glyphicon-cloud-download
                            |  Download
                      tr
                        td HA412HO v1.0
                        td Assembled pseudomolecules in FASTA format
                        td
                          a.btn.btn-sm.btn-default(href='assets/data/assemblies/HA412.v1.0.bronze.20140814.fasta.gz')
                            span.glyphicon.glyphicon-cloud-download
                            |  Download
                      tr
                        td HA412HO v1.0
                        td MD5 checksum of FASTA file
                        td
                          a.btn.btn-sm.btn-default(href='assets/data/assemblies/HA412.v1.0.bronze.20140814.fasta.gz.md5')
                            span.glyphicon.glyphicon-cloud-download
                            |  Download
              .row.page-row
                p
                  | Below are the published assemblies for sunflower line PSC8. Note the references for each data source at the bottom of the page.
                .table-responsive
                  table.table.table-striped.table-bordered
                    thead
                      tr
                        th Release version
                        th Description
                        th Download
                    tbody
                      tr
                        td
                          | PSC8 v1.0
                          p
                            span.label.label-success
                              i.fa.fa-check-circle
                              | Latest Version
                        td
                          | Assembled chromosomes in FASTA format (not including organelles)
                        td
                          a.btn.btn-sm.btn-default(href='assets/data/assemblies/HanPSC8.fasta.gz')
                            span.glyphicon.glyphicon-cloud-download
                            |  Download
                      tr
                        td
                          | PSC8 v1.0
                          p
                            span.label.label-success
                              i.fa.fa-check-circle
                              | Latest Version
                        td MD5 checksum of PSC8 v1.0 assembly FASTA file
                        td
                          a.btn.btn-sm.btn-default(href='assets/data/assemblies/HanPSC8.fasta.gz.md5')
                            span.glyphicon.glyphicon-cloud-download
                            |  Download
              .row.page-row
                h3.has-divider.text-highlight References
                ol.ref-apa
                  li
                    | Badouin H, Gouzy J, Grassa CJ, Murat F, Staton SE, et al. 2017. The sunflower genome provides insights into oil metabolism, flowering and Asterid evolution. Nature 546(7656): 148-152.
                  li
                    | Todesco, M. et al. 2020. Massive haplotypes underlie ecotypic differentiation in sunflowers. https://doi.org/10.1038/s41586-020-2467-6.

  include footer
