doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Sunflower Genome Database website")
    meta(name="author" content="Evan Staton")
    link(rel="stylesheet" href="/css/main.min.css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css')
    <!-- We must load GMaps assets in order for the map to appear with the page on load. The order is important. -->
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(type="text/javascript" src="assets/js/gmaps.min.js")
    script(async='' type="text/javascript" src=GMAPS_API_KEY)
  body
    .wrapper
      <!-- ******HEADER****** -->
      header.header
        .header-main.container
          h1.logo.col-md-4.col-sm-4
            a(href='https://sunflowergenome.org')
              img#logo(src='/images/logo.png', width='300px', height='75px', alt='Logo')
          .info.col-md-8.col-sm-8
            ul.menu-top.navbar-right.hidden-xs
              li.divider
                a(href='https://sunflowergenome.org') Home
              li.divider
                a(href='/faq') FAQ
              li
                a(href='/contact') Contact
            br
      include nav-contact
      <!-- ******CONTENT****** -->
      .content.container
        .page-wrapper
          header.page-heading.clearfix
            h1.heading-title.pull-left Contact
            .breadcrumbs.pull-right
              ul.breadcrumbs-list
                li.breadcrumbs-label You are here:
                li
                  a(href='https://sunflowergenome.org') Home
                  i.fa.fa-angle-right
                li.current Contact
          .page-content
            .row
              article.contact-form.col-md-8.col-sm-7.page-row
                h3.title Get in touch
                p
                  | If you encounter any issues with this site or have questions not covered in the FAQ, please use the contact form below to get in touch with us. Do not use this form for solicitation offers.
                form(name='contactform', id='mgform', method=POST)
                  .form-group.name
                    label(for='name') Name
                    |
                    input#name.form-control(name='name', type='text', placeholder='Enter your name')
                  .form-group.email
                    label(for='email')
                      | Email
                      span.required *
                    |
                    input#email.form-control(name='email', type='email', placeholder='Enter your email')
                  .form-group.phone
                    label(for='phone') Phone
                    |
                    input#phone.form-control(name='phone', type='tel', placeholder='Enter your contact number')
                  .form-group.message
                    label(for='message')
                      | Message
                      span.required *
                    textarea#message.form-control(name='message', rows='6', placeholder='Enter your message here...')
                  .g-recaptcha(data-sitekey=CAPTCHA_SITE_KEY)
                  |
                  button#submit.btn.btn-theme(type='submit', name='submit', value='submit', onclick='mgform.hid=this.value') Send message
              aside.page-sidebar.col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-1
                section.widget.has-divider
                  h3.title Postal Address
                  p.adr
                    span.adr-group
                      span.street-address Beaty Biodiversity Research Centre
                      br
                      |
                      span.region 6270 University Blvd.
                      br
                      |
                      span.city Vancouver, BC
                      br
                      |
                      span.postal-code V6T 1Z4
                      br
                      |
                      span.country-name Canada
                section.widget
                  h3.title All Enquiries
                  p.tel
                    i.fa.fa-phone
                    | Tel: 604-827-3535
                  h3.title Project PI
                  p.tel
                    i.fa.fa-phone
                    | Tel: 604-827-4540
                  p.email
                    i.fa.fa-envelope
                    | Email:
                    |
                    a(href='#') lriesebe@mail.ubc.ca
                  <!-- h3.title Website Admin
                  p
                    | If you get no response from the submission form, please direct questions about the site to the address below.
                  p.email
                    i.fa.fa-envelope
                    | Email:
                    |
                    a(href='#') evan@evanstaton.com -->
            .page-row
              article.map-section
                h3.title How to find us
                #map

  include footer
  block scripts
    script(async='' type="text/javascript" src="/js/main.min.js")
    script(async='' type="text/javascript" src="/js/contact.min.js")
    script(async='' src="https://www.google.com/recaptcha/api.js")
