extends header

block content
  body
    .wrapper
      <!-- ******HEADER****** -->
      header.header
        .header-main.container
          h1.logo.col-md-4.col-sm-4
            a(href='https://sunflowergenome.org')
              img#logo(src='/images/logo.png', with='200px', height='75px', alt='Logo')
          .info.col-md-8.col-sm-8
            ul.menu-top.navbar-right.hidden-xs
              li.divider
                a(href='https://sunflowergenome.org') Home
              li.divider
                a(href='/faq') FAQ
              li
                a(href='/contact') Contact
            br
      include nav-events
      <!-- ******CONTENT****** -->
      .content.container
        .page-wrapper
          header.page-heading.clearfix
            h1.heading-title.pull-left Events
            .breadcrumbs.pull-right
              ul.breadcrumbs-list
                li.breadcrumbs-label You are here:
                li
                  a(href='https://sunflowergenome.org') Home
                  i.fa.fa-angle-right
                li.current Events
            <!-- breadcrumbs -->
          .page-content
            .row.page-row
              .events-wrapper.col-md-8.col-sm-7
                article.events-item.page-row.has-divider.clearfix
                  .date-label-wrapper.col-md-1.col-sm-2
                    p.date-label
                      span.month AUG
                      |
                      span.date-number 15
                  .details.col-md-11.col-sm-10
                  h3.title Bioinformatics Workshop
                  p.meta
                    span.time
                      i.fa.fa-clock-o
                      |
                      | TBD
                      |
                    span.location
                      i.fa.fa-map-marker
                      |
                      |
                      a(href='http://biodiv-bioinformatics.sites.olt.ubc.ca/') UBC Main Campus
                  p.desc
                    | In today&rsquo;s ecology and evolution research, bioinformatics is a necessary skill set for many projects. This course aims to provide you with the skills you need to take raw sequence data and answer common population genetics questions. Through out the course we will take an example dataset through each step, explain what tools to use, how they work and why we use them. Students are also encouraged to bring their own datasets to work on in the course.
              aside.page-sidebar.col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-1
                section.widget.has-divider
                  h3.title Is there an event you would like to share?
                  p
                    | Please
                    |
                    a(href='/contact') contact
                    |  us if there is news about a relevant event that you would like to share.
                section.widget.has-divider
                  h3.title Latest News
                  article.news-item.row
                    figure.thumb.col-md-2
                      img(src='/images/news/expression-thumb-1.jpg', alt='')
                    .details.col-md-10
                      h4.title
                        a(href='/news-expression') HA412HO gene expression browser released
                  article.news-item.row
                    figure.thumb.col-md-2
                      img(src='/images/news/jbrowse-thumb-2.jpg', alt='')
                    .details.col-md-10
                      h4.title
                        a(href='/news-annotation') Gene and transposon annotations released
                  article.news-item.row
                    figure.thumb.col-md-2.col-sm-3.col-xs-3
                      img(alt='', src='/images/news/browser-thumb-3.jpg')
                    .details.col-md-10.col-sm-9.col-xs-9
                      h4.title
                        a(href='/news-browser') Genome browser updates
                  article.news-item.row
                    figure.thumb.col-md-2
                      img(src='/images/news/git-thumb-3.jpg', alt='')
                    .details.col-md-10
                      h4.title
                        a(href='/news-tools') Annotation tools publicly available

  include footer
