footer.footer
  .footer-content
    .container
      .row
        .footer-col.col-md-3.col-sm-4.about
          .footer-col-inner
            h3 About
            ul
              li
                a(href='/about')
                  i.fa.fa-caret-right
                  | About us
              li
                a(href='/contact')
                  i.fa.fa-caret-right
                  | Contact us
              li
                a(href='/privacy')
                  i.fa.fa-caret-right
                  | Privacy policy
              li
                a(href='/terms-and-conditions')
                  i.fa.fa-caret-right
                  | Terms &amp; Conditions
        .footer-col.col-md-3.col-sm-4.about
          .footer-col-inner
            h3 Quick Links
            ul
              li
                a(href='https://sunflowergenome.org/jbrowse_current/?data=extdata%2Fbronze&loc=Ha1%3A116901..164500&tracks=Genes%2CTranscript%2CVariants%2CSeed&highlight=')
                  i.fa.fa-caret-right
                  | JBrowse
              li
                a(href='https://sunflowergenome.org/blast/')
                  i.fa.fa-caret-right
                  | BLAST
              li
                a(href='/expression')
                  i.fa.fa-caret-right
                  | Gene Expression Browser
              li
                a(href='https://sunflowergenome.org/cgi-bin/cmap/viewer?ref_map_set_acc=1')
                  i.fa.fa-caret-right
                  | cMap
        .footer-col.col-md-3.col-sm-4.about
          .footer-col-inner
            h3 Tutorials
            ul
              li
                a(href='/howto-jbrowse')
                  i.fa.fa-caret-right
                  | HOWTO: JBrowse
              li
                a(href='/howto-blast')
                  i.fa.fa-caret-right
                  | HOWTO: BLAST
              li
                a(href='/howto-geneexpression')
                  i.fa.fa-caret-right
                  | HOWTO: Gene Expression Tools
              li
                a(href='/howto-cmap')
                  i.fa.fa-caret-right
                  | HOWTO: cMap
        .footer-col.col-md-3.col-sm-12.contact
          .footer-col-inner
            h3 Contact us
            .row
              p.adr.clearfix.col-md-12.col-sm-4
                i.fa.fa-map-marker.pull-left
                |
                span.adr-group.pull-left
                  span.street-address Beaty Biodiversity Research Centre
                  br
                  |
                  span.region 6270 University Blvd.
                  br
                  |
                  span.city Vancouver, BC
                  br
                  |
                  span.postal-code V6T 1Z4
                  br
                  |
                  span.country-name Canada
              p.email.col-md-12.col-sm-4
                i.fa.fa-envelope
                a(href='/contact') Contact Form
  .bottom-bar
    .container
      .row
        small.copyright.col-md-6.col-sm-12.col-xs-12 Copyright @ 2017 Sunflower Genome Database
block scripts
  script(async='' type="text/javascript" src="/js/main.min.js")
