doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Sunflower Genome Database website")
    meta(name="author" content="Evan Staton")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css')
    <!-- Global CSS -->
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    <!-- Plugins CSS -->
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="stylesheet" href="/plugins/flexslider/flexslider.css")
    link(rel="stylesheet" href="/plugins/pretty-photo/css/prettyPhoto.css")
    <!-- Theme CSS -->
    link(id="theme-style" rel="stylesheet" href="/stylesheets/styles.css")
    <!-- GA -->
    script(type="text/javascript" src="/javascripts/sgd_ga.js")
    script(src="http://code.jquery.com/jquery-3.2.0.min.js", integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=", crossorigin="anonymous")
    script(type="text/javascript" src="/plugins/flexslider/jquery.flexslider-min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
  body
    block content
