doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Sunflower Genome Database website")
    meta(name="author" content="Evan Staton")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="/css/main.min.css")
    link(id="theme-style" rel="stylesheet" href="/css/styles.css")
    script(type="text/javascript" src="/js/main.min.js")
  body
    block content
