extends header

block content
  body
    .wrapper
      <!-- ******HEADER****** -->
      header.header
        .header-main.container
          h1.logo.col-md-4.col-sm-4
            a(href='https://sunflowergenome.org')
              img#logo(src='/images/logo.png', with='200px', height='75px', alt='Logo')
          .info.col-md-8.col-sm-8
            ul.menu-top.navbar-right.hidden-xs
              li.divider
                a(href='https://sunflowergenome.org') Home
              li.divider
                a(href='/faq') FAQ
              li
                a(href='/contact') Contact
            br
      include nav-home
      <!-- ******CONTENT****** -->
      .content.container
        .page-wrapper
          header.page-heading.clearfix
            h1.heading-title.pull-left HOWTO: CMap
            .breadcrumbs.pull-right
              ul.breadcrumbs-list
                li.breadcrumbs-label You are here:
                li
                  a(href='https://sunflowergenome.org') Home
                  i.fa.fa-angle-right
                li.current HOWTO: CMap
            <!-- breadcrumbs -->
          .page-content
            .row.page-row
              .events-wrapper.col-md-8.col-sm-7
                article.events-item.page-row.has-divider.clearfix
                  p.lead
                    | This guide will give you a brief overview of how to use the sunflower genetic map viewer cMap. There is also a more complete
                    |
                    a(href='https://sunflowergenome.org/cmap/tutorial/') tutorial
                    |  online that provides more details on how to use cMap.
                  p
                    | Select one or many chromosomes to draw, which features to display, and click &quot;Draw Selected Maps&quot;.
                  |
                  a(href='http://www.sunflowergenome.org/cmap/tutorial/page7.html')
                    img(src='/images/howto/cmap-Slide7-1.jpg')
                  p The selected maps will be displayed.
                  |
                  a(href='http://www.sunflowergenome.org/cmap/tutorial/page25.html')
                    img(src='/images/howto/cmap-Slide25-2.jpg')
                  |
                  a(href='http://www.sunflowergenome.org/cmap/tutorial/page27.html')
                    img(src='/images/howto/cmap-Slide27-3.jpg')
                  p Change the map display options.
                  |
                  a(href='http://www.sunflowergenome.org/cmap/tutorial/page16.html')
                    img(src='/images/howto/cmap-Slide16-4.jpg')
                  p Select &quot;All&quot; for the Show Labels option to display all feature names.
                  |
                  a(href='http://www.sunflowergenome.org/cmap/tutorial/page20.html')
                    img(src='/images/howto/cmap-Slide20-5.jpg')
                  |
                  img(src='/images/howto/cmap-map_labels-6.jpg')
                  p Click on a feature to view its details.
                  |
                  a(href='http://www.sunflowergenome.org/cmap/tutorial/page46.html')
                    img(src='/images/howto/cmap-Slide46-7.jpg')
                  p Search for individual features by name using wildcards.
                  |
                  a(href='http://www.sunflowergenome.org/cmap/tutorial/page44.html')
                    img(src='/images/howto/cmap-Slide44-8.jpg')
                  p Each feature is cross-linked back to its physical genome location in JBrowse.
                  |
                  img(src='/images/howto/cmap-feature-9.jpg')
              aside.page-sidebar.col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-1
                section.widget.has-divider
                  h3.title Is there a problem with the content on this page?
                  p
                    | Please
                    |
                    a(href='/contact') contact
                    |  us if this page needs to be updated or could be improved.
                section.widget.has-divider
                  h3.title Latest News
                  article.news-item.row
                    figure.thumb.col-md-2
                      img(src='/images/news/expression-thumb-1.jpg', alt='')
                    .details.col-md-10
                      h4.title
                        a(href='/news-expression') HA412HO gene expression browser released
                  article.news-item.row
                    figure.thumb.col-md-2
                      img(src='/images/news/jbrowse-thumb-2.jpg', alt='')
                    .details.col-md-10
                      h4.title
                        a(href='/news-annotation') Gene and transposon annotations released
                  article.news-item.row
                    figure.thumb.col-md-2.col-sm-3.col-xs-3
                      img(alt='', src='/images/news/browser-thumb-3.jpg')
                    .details.col-md-10.col-sm-9.col-xs-9
                      h4.title
                        a(href='/news-browser') Genome browser updates
                  article.news-item.row
                    figure.thumb.col-md-2
                      img(src='/images/news/git-thumb-3.jpg', alt='')
                    .details.col-md-10
                      h4.title
                        a(href='/news-tools') Annotation tools publicly available

  include footer
