extends header

block content
  body
    .wrapper
      <!-- ******HEADER****** -->
      header.header
        .header-main.container
          h1.logo.col-md-4.col-sm-4
            a(href='https://sunflowergenome.org')
              img#logo(src='/images/logo.png', width='300px', height='75px', alt='Logo')
          .info.col-md-8.col-sm-8
            ul.menu-top.navbar-right.hidden-xs
              li.divider
                a(href='https://sunflowergenome.org') Home
              li.divider
                a(href='/faq') FAQ
              li
                a(href='/contact') Contact
            br
      include nav-data
      <!-- ******CONTENT****** -->
      .content.container
        .page-wrapper
          header.page-heading.clearfix
            h1.heading-title.pull-left Presentations
            .breadcrumbs.pull-right
              ul.breadcrumbs-list
                li.breadcrumbs-label You are here:
                li
                  a(href='https://sunflowergenome.org') Home
                  i.fa.fa-angle-right
                li.current PAG 2016
          .page-content
           .row.page-row
            aside.page-sidebar.col-md-2.col-sm-2.affix-top
              section.widget
                ul.nav
                  li
                    a(href='/pag2013') PAG 2013
                      |
                      |
                      i.fa.fa-file-image-o(aria-hidden='true')
                  li
                    a(href='/pag2014') PAG 2014
                      |
                      |
                      i.fa.fa-file-image-o(aria-hidden='true')
                  li
                    a(href='/pag2015') PAG 2015
                      |
                      |
                      i.fa.fa-file-image-o(aria-hidden='true')
                  li.active
                    a(href='/pag2016') PAG 2016
                      |
                      |
                      i.fa.fa-file-image-o(aria-hidden='true')
                      .events-wrapper.col-md-8.col-sm-7
            article.events-item.page-row.has-divider.clearfix
                        h2 Slides from Sunflower Genome Consortium Meeting at PAG 2016
                        .table-responsive
                          table.table.table-hover.table-bordered
                            thead
                              tr
                                th Presenter, Affiliation
                                th Title
                                th Download
                            tbody
                              tr
                                td L. Rieseberg, UBC
                                td Introductions and project overview
                                td
                                  a.btn.btn-sm.btn-default(href='assets/documents/presentations/PAG2017/Rieseberg_Project_Overview.pptx')
                                    span.glyphicon.glyphicon-cloud-download
                                    |  Download
                              tr
                                td L. Rieseberg, UBC
                                td Development and characterization of multi-species mapping populations
                                td
                                  a.btn.btn-sm.btn-default(href='assets/documents/presentations/PAG2017/Rieseberg_MAGIC_population.pptx')
                                    span.glyphicon.glyphicon-cloud-download
                                    |  Download
                              tr
                                td L. Donovan, UGA
                                td Phenotyping in large-scale screens
                                td
                                  a.btn.btn-sm.btn-default(href='assets/documents/presentations/PAG2017/Donovan_Phenotyping_in_large-scale_screens_draft.pptx')
                                    span.glyphicon.glyphicon-cloud-download
                                    |  Download
                              tr
                                td L. Gao, UBC
                                td Phenotyping in large-scale screens: flooding stress
                                td
                                  a.btn.btn-sm.btn-default(href='assets/documents/presentations/PAG2017/Gao_Flooding_stress.pptx')
                                    span.glyphicon.glyphicon-cloud-download
                                    |  Download
                              tr
                                td  R. Masalia, UGA
                                td Phenotyping in large-scale screens: osmotic stress
                                td
                                  a.btn.btn-sm.btn-default(href='assets/documents/presentations/PAG2017/PAG_OsmoticStress_Masalia.pdf')
                                    span.glyphicon.glyphicon-cloud-download
                                    |  Download
                              tr
                                td  J. Burke, UGA
                                td Phenotyping in large-scale screens: salt stress
                                td
                                  a.btn.btn-sm.btn-default(href='assets/documents/presentations/PAG2017/pag_sunflower_2017_burke_salt.ppt')
                                    span.glyphicon.glyphicon-cloud-download
                                    |  Download
                              tr
                                td  D. Burge, UBC
                                td Population genomics of abiotic stress adaptation in the wild
                                td
                                  a.btn.btn-sm.btn-default(href='assets/documents/presentations/PAG2017/Burge_Collecting.pdf')
                                    span.glyphicon.glyphicon-cloud-download
                                    |  Download
                              tr
                                td  E. Marden, UBC
                                td GE3LS International Treaties and Use of Plant Genetic Resources
                                td
                                  a.btn.btn-sm.btn-default(href='assets/documents/presentations/PAG2017/Marden.pptx')
                                    span.glyphicon.glyphicon-cloud-download
                                    |  Download
                              tr
                                td S. Hubner, UBC
                                td Variant calling and association mapping pipeline
                                td
                                  a.btn.btn-sm.btn-default(href='assets/documents/presentations/PAG2017/Hubner_SNPs_PAG2017.pdf')
                                    span.glyphicon.glyphicon-cloud-download
                                    |  Download

  include footer
