extends header

block content
  body
    .wrapper
      <!-- ******HEADER****** -->
      header.header
        .header-main.container
          h1.logo.col-md-4.col-sm-4
            a(href='https://sunflowergenome.org')
              img#logo(src='/images/logo.png', width='300px', height='75px', alt='Logo')
          .info.col-md-8.col-sm-8
            ul.menu-top.navbar-right.hidden-xs
              li.divider
                a(href='https://sunflowergenome.org') Home
              li.divider
                a(href='/faq') FAQ
              li
                a(href='/contact') Contact
            br
      include nav-data
      <!-- ******CONTENT****** -->
      .content.container
        .page-wrapper
          header.page-heading.clearfix
            h1.heading-title.pull-left Pan-genome
            .breadcrumbs.pull-right
              ul.breadcrumbs-list
                li.breadcrumbs-label You are here:
                li
                  a(href='https://sunflowergenome.org') Home
                  i.fa.fa-angle-right
                li.current Pan-genome files
          .page-content
           .row.page-row
            aside.page-sidebar.col-md-2.col-sm-2.affix-top
              section.widget
                ul.nav
                  li
                    a(href='/pangenome') Procedures
                      |
                      |
                      i.fa.fa-book(aria-hidden='true')
                  li
                    a(href='/pangenome-results') Statistics
                      |
                      |
                      i.fa.fa-bar-chart(aria-hidden='true')
                  li.active
                    a(href='/pangenome-data') Files
                      |
                      |
                      i.fa.fa-download(aria-hidden='true')
            .events-wrapper.col-md-8.col-sm-7
              h2 Downloads
              .table-responsive
               table.table.table-hover.table-bordered
                 thead
                   tr
                     th Description
                     th Format
                     th Download
                 tbody
                   tr
                     td SNP data set
                     td VCF
                     td
                       a.btn.btn-sm.btn-default(href='assets/data/pangenome/SAM_snpFiltered2017.vcf.gz')
                         span.glyphicon.glyphicon-cloud-download
                         |  Download
                   tr
                     td Pan-genome sequence file
                     td FASTA
                     td
                       a.btn.btn-sm.btn-default(href='assets/data/pangenome/PanGenome.20170709.fasta.bz2')
                         span.glyphicon.glyphicon-cloud-download
                         |  Download
                   tr
                     td Introgression table
                     td Tab-delimited table
                     td
                       a.btn.btn-sm.btn-default(href='assets/data/geneticmap/CV2Wild2Pan_mat.txt.bz2')
                         span.glyphicon.glyphicon-cloud-download
                         |  Download

  include footer
