extends header

block content
  body
    .wrapper
      <!-- ******HEADER****** -->
      header.header
        .header-main.container
          h1.logo.col-md-4.col-sm-4
            a(href='https://sunflowergenome.org')
              img#logo(src='/images/logo.png', width='300px', height='75px', alt='Logo')
          .info.col-md-8.col-sm-8
            ul.menu-top.navbar-right.hidden-xs
              li.divider
                a(href='https://sunflowergenome.org') Home
              li.divider
                a(href='/faq') FAQ
              li
                a(href='/contact') Contact
            br
      include nav-home
      <!-- ******CONTENT****** -->
      .content.container
        .page-wrapper
          header.page-heading.clearfix
            h1.heading-title.pull-left Terms and Conditions
            .breadcrumbs.pull-right
              ul.breadcrumbs-list
                li.breadcrumbs-label You are here:
                li
                  a(href='https://sunflowergenome.org') Home
                  i.fa.fa-angle-right
                li.current Terms and Conditions
            <!-- breadcrumbs -->
          .page-content
             .row.page-row
               .terms-wrapper.col-md-8.col-sm-7
                 .page-row
                   h4.text-highlight Introduction
                   p
                     | These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website.
                 .page-row
                   h4.text-highlight License to use website
                   p
                     | Unless otherwise stated, Sunflower Genome Database and/or its licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.
                   p
                     | You may view, download, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.
                   p  You must not:
                   ul
                     li
                       | republish material from this website (including republication on another website);
                     li sell, rent or sub-license material from the website;
                     li show any material from the website in public;
                     li
                       | reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;
                     li edit or otherwise modify any material on the website; or
                     li
                       | redistribute material from this website (except for content specifically and expressly made available for redistribution).
                   p
                     | Where content is specifically made available for redistribution, it may only be redistributed within your organisation.
                 .page-row
                   h4.text-highlight Acceptable use
                   p
                     | You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
                   p
                     | You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
                   p
                     | You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without the Sunflower Genome Database&apos;s express written consent.
                   p
                     | You must not use this website to transmit or send unsolicited commercial communications.
                   p
                     | You must not use this website for any purposes related to marketing without Sunflower Genome Database&apos;s express written consent.
                 .page-row
                   h4 Restricted access
                   p
                     | Access to certain areas of this website is restricted. The Sunflower Genome Database reserves the right to restrict access to [other] areas of this website, or indeed this entire website, at the Sunflower Genome Database&apos;s discretion.
                   p
                     | If Sunflower Genome Database provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.
                   p
                     | The Sunflower Genome Database may disable your user ID and password in Sunflower Genome Database&apos;s sole discretion without notice or explanation.
                 .page-row
                   h4.text-highlight User content
                   p
                     | In these terms and conditions, &ldquo;your user content&rdquo; means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.
                   p
                     | You grant to Sunflower Genome Database a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media. You also grant to Sunflower Genome Database the right to sub-license these rights, and the right to bring an action for infringement of these rights.
                   p
                     | Your user content must not be illegal or unlawful, must not infringe any third party&apos;s legal rights, and must not be capable of giving rise to legal action whether against you or Sunflower Genome Database or a third party (in each case under any applicable law).
                   p
                     | You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.
                   p
                     | Sunflower Genome Database reserves the right to edit or remove any material submitted to this website, or stored on the Sunflower Genome Database&apos;s servers, or hosted or published upon this website.
                   p
                     | Notwithstanding the Sunflower Genome Database&apos;s rights under these terms and conditions in relation to user content, the Sunflower Genome Database does not undertake to monitor the submission of such content to, or the publication of such content on, this website.
                 .page-row
                   h4.text-highlight No warranties
                   p
                     | This website is provided &ldquo;as is&rdquo; without any representations or warranties, express or implied. The Sunflower Genome Database makes no representations or warranties in relation to this website or the information and materials provided on this website.
                 .page-row
                   h4.text-highlight Limitations of liability
                   p
                     | The Sunflower Genome Database will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:
                   ul
                     li to the extent that the website is provided free-of-charge, for any direct loss;
                     li for any indirect, special or consequential loss; or
                     li
                       | for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
                   p
                     | These limitations of liability apply even if the Sunflower Genome Database has been expressly advised of the potential loss.
                 .page-row
                   h4.text-highlight Reasonableness
                   p
                     | By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.
                   p  If you do not think they are reasonable, you must not use this website.
                 .page-row
                   h4.text-highlight Unenforceable provisions
                   p
                     | If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.
                 .page-row
                   h4.text-highlight Breaches of these terms and conditions
                   p
                     | Without prejudice to the Sunflower Genome Database&apos;s other rights under these terms and conditions, if you breach these terms and conditions in any way, the Sunflower Genome Database may take such action as the Sunflower Genome Database deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.
                 .page-row
                   h4.text-highlight Variation
                   p
                     | The Sunflower Genome Database may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.
                 .page-row
                   h4.text-highlight Assignment
                   p
                     | The Sunflower Genome Database may transfer, sub-contract or otherwise deal with the Sunflower Genome Database&apos;s] rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.
                   p
                     | You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.
                 .page-row
                   h4.text-highlight Severability
                   p
                     | If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.
                 .page-row
                   h4.text-highlight Entire agreement
                   p
                     | These terms and conditions, together with our
                     |
                     a(href='/privacy') privacy
                     |  policy, constitute the entire agreement between you and Sunflower Genome Database in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.
                 .page-row
                   h4.text-highlight Law and jurisdiction
                   p
                     | These terms and conditions will be governed by and construed in accordance with Canadian law, and any disputes relating to these terms and conditions will be subject to the jurisdiction of the courts of the province of British Columbia.
                 .box
                   h4.text-highlight Credit
                   p
                     | This document was created using a Contractology template available at
                     |
                     a(href='http://www.freenetlaw.com/') http://www.freenetlaw.com
                     | .
               aside.page-sidebar.col-md-3.col-md-offset-1.col-sm-4.col-sm-offset-1
                 section.widget
                   h3.title Contact
                   p
                     | For questions relating to this policy, or general enquiries, please see our
                     |
                     a(href='/contact') contact
                     |  page for more details.

  include footer
