extends ../header

block content
  body.home-page
    .wrapper
      header.header
        .header-main.container
          h1.logo.col-md-4.col-sm-4
            a(href='https://sunflowergenome.org')
              img#logo(src='/images/logo.png', with='200px', height='75px', alt='Logo')
          .info.col-md-8.col-sm-8
            ul.menu-top.navbar-right.hidden-xs
              li.divider
                a(href='https://sunflowergenome.org') Home
              li.divider
                a(href='https://sunflowergenome.org/faq') FAQ
              li
                a(href='https://sunflowergenome.org/contact') Contact
            br
      include nav-stress-home
      .content.container
        #promo-slider.slider.flexslider
          ul.slides
            li
              img(src='/images/stress/slides/stress-slide-1.jpg', alt='')
              p.flex-caption
                span.main Genomics of abiotic stress resistance is wild and cultivated sunflower
            li
              img(src='/images/stress/slides/stress-slide-2.jpg', alt='')
              p.flex-caption
                span.main
                  | In order to keep pace with projected population growth, we must increase global food production, against the background of a changing climate and increasing competition for land and water
            li
              img(src='/images/stress/slides/stress-slide-3.jpg', alt='')
              p.flex-caption
                span.main
                  | Wild sunflowers, adapted to a variety of extreme environments, may hold the key to conferring stress resistance in cultivated varieties, allowing development of a more resilient oil crop.
            li
              img(src='/images/stress/slides/stress-slide-4.jpg', alt='')
              p.flex-caption
                span.main
                  | All germplasm developed by this project is voluntarily distributed under the Standard Material Transfer Agreement (SMTA) of the International Treaty for Plant Genetic Resources in Food and Agriculture. All data from the project are publicly available
        section.promo.box.box-dark
          .col-md-9
            h1.section-heading About the sunflower genome database
            p
              | The data available on this site was generated as part of the sunflower genome project by an international group of researchers. For information related to the use of data on this site, the funding for this project, or any other questions, please see the
              a(href='https://sunflowergenome.org/faq') FAQ
              |  page or
              a(href='https://sunflowergenome.org/contact') contact
              |  us directly.
            p
              | The aim of this subdomain of the website is to provide an overview of work towards identifying abiotic stress resistance in wild and cultivated sunflowers.
        |
        img(src='/images/stress/stress_activity_workflow-150p-400d.jpg', alt='')

  include footer
