include ../header

block content
  body.home-page
    .wrapper
      header.header
        .header-main.container
          h1.logo.col-md-4.col-sm-4
            a(href='https://sunflowergenome.org')
              img#logo(src='/images/logo.png', width='300px', height='75px', alt='Logo')
          .info.col-md-8.col-sm-8
            ul.menu-top.navbar-right.hidden-xs
              li.divider
                a(href='https://sunflowergenome.org') Home
              li.divider
                a(href='https://sunflowergenome.org/faq') FAQ
              li
                a(href='https://sunflowergenome.org/contact') Contact
            br
      include nav-stress-project
      .content.container
        .page-wrapper
          header.page-heading.clearfix
            h1.heading-title.pull-left Scientific outcomes and deliverables
            .breadcrumbs.pull-right
              ul.breadcrumbs-list
                li.breadcrumbs-label You are here:
                li
                  a(href='https://stress.sunflowergenome.org') Home
                  i.fa.fa-angle-right
                li.current Scientific outcomes and deliverables
          .page-content
            p
              | Our project will identify strategies, mechanisms, traits, and alleles that can be used to produce sunflower lines that are more resistant to drought, flooding, salt, and low nutrient stress, but with minimal impact on productivity under ideal conditions. We will also determine the types of genes (and their network positions) that are most likely to confer resistance across broad genetic backgrounds and with minimal yield trade-offs. This knowledge will move us closer to a systems level understanding of the interactions between plants and their environment and will enable the development of smarter and more efficient strategies for breeding environmentally resilient cultivars in sunflower and has the potential to positively impact other crops. Knowledge of the mechanisms and genetic architecture of abiotic stress resistance, coupled with identification and functional validation of key resistance alleles (and associated genotypic information), will lead to our main deliverables:
            p
              | (1) &ldquo;Next Generation&rdquo; germplasm resources in the form of multi-species, advanced generation intercross populations for use by sunflower breeders. This germplasm will be available in year 3 of the project and will enable end-users to efficiently deploy resistance alleles with minimal yield trade-offs in sunflower breeding programs using marker assisted and/or genomic selection. New highly resistant and productive cultivars are expected in the field within four years of project end.
            p
              | (2) A central data mining and analysis resource for sunflower that will enable researchers and breeders to more rapidly process, analyze, and manage large genomic and phenotypic data sets. The mining and analysis tools will be released throughout the course of the project.
            p
              | (4) Strategies for mitigating barriers to public and private breeding programs (e.g., uncertain IP and profit sharing obligations) resulting from international treaties; and Co-PI Marden will continue to work closely with the CGB/Treaty to move forward refinements to existing treaties to reduce such barriers. Strategies and suggestions for refinements will be made throughout the course of the project. We expect the new sunflower cultivars to be in the field within four years of project end, with significant economic benefits through mitigation of risks in contemporary sunflower production in North America and elsewhere, expansion of sunflower production onto marginal lands, and important social benefits through increased food security in Uganda and other developing countries. This project team encompasses most of the major participants in scientific discovery in sunflower as it pertains to crop improvement and evolutionary biology. The team will use the results of this project to integrate into other related projects to ensure rapid adoption of the technology.

  include footer
